aiohttp==3.8.1
aiohttp-jinja2==1.5
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==21.4.0
audioread==2.1.9
bidict==0.21.4
brotlipy==0.7.0
certifi==2021.5.30
charset-normalizer==2.0.10
conda==4.10.3
cycler==0.11.0
decorator==5.1.1
fonttools==4.30.0
frozenlist==1.3.0
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.4.0
librosa==0.9.1
llvmlite==0.38.0
MarkupSafe==2.0.1
matplotlib==3.5.1
menuinst==1.4.16
multidict==6.0.2
numba==0.55.1
numpy==1.21.5
packaging==21.3
pick==1.2.0
Pillow==9.0.1
pooch==1.6.0
pycosat==0.6.3
pyparsing==3.0.7
python-dateutil==2.8.2
python-engineio==4.3.1
python-osc==1.8.0
python-socketio==5.5.1
pywin32==228
resampy==0.2.2
scikit-learn==1.0.2
scipy==1.8.0
scour==0.38.2
SoundFile==0.10.3.post1
threadpoolctl==3.1.0
wincertstore==0.2
windows-curses==2.3.0
yarl==1.7.2